<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- connection string for the aw universe -->
    <add key="UniverseConnection" value="" />
    <!-- load balancing service for spanning transactions over multiple bot instances -->
    <add key="UniverseLbs" value="provider=lbs;instances=3"/>
    <!-- general purpose storage server (your application database) -->
    <add key="StorageServerConnection" value="provider=db4o;user=awmanaged;password=awmanaged;port=4571;file=awmanaged.dat"/>
    <!-- general purpose storage client (your application database) -->
    <add key="StorageClientConnection" value="provider=db4o;user=awmanaged;password=awmanaged;port=4571;server=localhost"/>
    <!-- remoting setup for remote bot engines over tcp or http protocol -->
    <add key="RemotingServerConnection" value="provider=awmremoting;port=9000;protocol=tcp"/>
    <!-- authentication storage server (user database for remoting bot engine logins) -->
    <add key="AuthStorageServerConnection" value="provider=db4o;user=awmanaged;password=awmanaged;port=4572;file=userdb.dat"/>
    <!-- authentication storage client (user database for remoting bot engine logins) -->
    <add key="AuthStorageClientConnection" value="provider=db4o;user=awmanaged;password=awmanaged;port=4572;server=localhost"/>
    <!-- connection string for internal webserver -->
    <add key="WebServerConnection" value="provider=webserver;port=89"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
