<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- connection string for the aw universe -->
    <add key="RemotingClientConnection" value="provider=awmremoting;port=9000;host=localhost;protocol=tcp;user=test;password=test;" />
    <!-- general purpose storage server (your application database) -->
    <add key="StorageServerConnection" value="provider=db4o;user=awmanaged;password=awmanaged;port=4571;file=awmanaged.dat" />
    <!-- general purpose storage client (your application database) -->
    <add key="StorageClientConnection" value="provider=db4o;user=awmanaged;password=awmanaged;port=4571;server=localhost" />
  </appSettings>
</configuration>
